*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}
a{
    color: rgb(24, 16, 172);
    text-decoration: none;
}
img{
    width: 300px;
    border-radius: 50%;
    border: 5px solid #22d4fd;
    padding: 5px;
}
.tituloDestacado{
    color: #22d4fd;
    font-size: 30px;
    text-align: center;
}
.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
